.span_it_div {
    text-decoration: underline;
}

hr {
    width: 4%;
    color: #adb3b3;
    height: 1%;
    border-top: 6px dotted;
    border-bottom: none;
    /*remove below line*/
    margin: 100px auto 100px auto;
}

body {
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 1;
    /*default is 1*/
    /*90px*/
    margin: 50px auto 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #11999E;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.middle-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

p {
    line-height: 2;
}

.intro {
    color: #40514E;
    width: 30%;
    margin: auto;
    margin-bottom: 100px;
}


/*
.skills {
    margin-top: 100px;
}*/

.para_text2 {
    width: 40%;
    margin: 40px auto 40px auto;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
}

.skill1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.topBox {
    background-color: #EAF6F6;
    padding-top: 100px;
}

.cloud1 {
    position: absolute;
    right: 400px;
    top: 50px;
}

.cloud2 {
    position: absolute;
    left: 400px;
    bottom: 500px;
}

a {
    color: #11999E;
}

.contact-me {
    margin: 70px auto 70px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    height: 60px;
    /*text-align: center;*/
    padding: 45px;
}

.footer-link {
    color: 11999E;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    margin: 15px 10px 15px 10px;
}

a:hover {
    color: #EAF6F6;
}

.footer-text {
    margin-top: 30px;
    color: #EAF6F6;
    font-size: 0.75rem;
    font-family: 'Merriweather', serif;
}


/*
.middleBox {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    border: solid;
}

.bottomBox {
    background-color: green;
    height: 200px;
    width: 200px;
    border: solid;
}*/